* {
  padding: 0;
  margin: 0;
}

div.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

div.wrapper img {
  width: 500px;
}

@media (max-width: 780px) {
  div.wrapper img {
    width: 70%;
  }
}